body {
    width: 100%;
    height: 100%;
    min-width : 800px;
    background-color: white;
}

/* 헤어영역 */
header {
    width: 100%;
    border-bottom: 8px solid white;
}
.header-text {
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 30px 0px 0px 0px;
}

.mainDiv{
    width: 100%;
}

/* 검색/버튼 영역 */
nav {
    width: 100%;
}

.navDiv input {
    border: 1px solid #aaa;
    background-color : white;
    border-radius: 10px;
}
.navDiv input:hover {
    border: 2px solid blue;
}

.navButton{
    float: right;
    width: 25%;
}

/* section 영역 */
.content {
     width: 100%;
}

/* 리스트 공통옵션 */
.listUl {
    width: 100%;
    list-style:none;
    padding-inline-start: 0px;
 }
.fl { float:left; }
.tc { text-align:center; }

.checkAll, .checkbox { width: 5% }
.dateLi, .categoryLi, .contentsLi, .countLi, .nameLi, .priceLi { width:12%; }
.buttonLi { width:20%; }


/* 리스트 영역 */
.title {
	height: 80%;
	line-height: 40px;
	background: LightSkyBlue;
	font-weight: bold;
}
.t_line {
    border-bottom:solid 1px black;
}
.list {
	height:100%;
	line-height: 30px;
	background: AliceBlue;
	padding: 3px 0px 3px 0px;
}

/* 페이징 */
footer {
     clear: both;
     width: 100%;
     text-align : center;
     border-top: 10px solid white;
}

/* 버튼 스타일 */
.button:hover {
    color:white;
    background-color: blue;
}
.listButton:hover {
    color:white;
    background-color: blue;
}
.button, .listButton {
    background : white;
    border: 1px solid #aaa;
    border-radius : 10px;
   /* padding : 0px 15px 0px 15px;*/
}
.listButton {
    border : 1px;
}

/* 폰트 변경 */
* {
    font-family: 'Single Day', cursive;
}
